name: Integration Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  docker:
    strategy:
      fail-fast: false
      matrix:
        docker_version:
          - "20.10"
        os:
          - ubuntu-22.04
          - macos-15-intel
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-disabled: true

      - name: Prune Docker System
        run: docker system prune -a -f

      - name: Run Tests
        run: ./gradlew allTests