name: Publish Release

on:
  push:
    tags: [ 'v*.*.*' ]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Publish to Maven Central
        run: ./gradlew publishAllPublicationsToGithubPackagesRepository -Pversion=${{ github.ref_name }} --no-daemon --stacktrace --no-configuration-cache
        env:
          ORG_GRADLE_PROJECT_githubPackagesUsername: ${{ secrets.GITHUB_USERNAME }}
          ORG_GRADLE_PROJECT_githubPackagesPassword: ${{ secrets.GITHUB_TOKEN }}